.glyph-icon {
  width: 0.85rem;
  height: 0.85rem;
}

table {
  width: 100%;
}

.td-1 {
  width: 15%;
  font-size: .75rem;
}

.td-1-2 {
  width: 4%;
  font-size: .75rem;
}


.td-2 {
  width: 80%;
}

.td-3 {
  width: 85%;
  font-size: .5rem;
  text-align: right;
}

.block {

  width: 100%;
  border: 1px solid #cdcdcd;
  height: 27px;
  overflow: hidden;
  padding: .2rem .5rem;
  font-size: .8rem;
}

.block:hover {
  height: auto;
  cursor: pointer;
}

.btn-xs {
  padding: .2rem .25rem .075rem .4rem;
  font-size: .85rem;
  border-radius: 0.2rem;
}

.danger {
  background: red;
}

.primary {
  background: #5095ff;
}

.table-font-size {
	font-size: 0.5rem
}
